{{ define "main" -}}
{{- $sanitizedName := .sanitizedName -}}
{{- $displayName := .displayName -}}
<fieldset>
    <legend> {{ $displayName }} </legend>
    <table>
        <tbody id="{{ $sanitizedName }}-tbody">
        {{ range $i, $value := .values -}}
            <tr id="{{ printf "%s[%d]" $sanitizedName $i }}">
                <td> {{ marshalSliceValue $displayName $i $value }} </td>
                <td> {{with dict "sanitizedName" $sanitizedName "i" $i }} {{ template "removal" . }} {{ end }} </td>
            </tr>
        {{- end }}
        </tbody>
    </table>
    <button type="button" onclick="add{{ .sanitizedName }}()"> Add {{ .displayName }} </button>
    {{ template "script" . -}}
</fieldset>
{{- end }}

{{ define "removal" -}}
    <button type="button" onclick="remove{{ .sanitizedName }}(id{{ .sanitizedName }}({{- .i -}}))">x</button>
{{- end }}

{{ define "script" }}
<script>
    {{- $sanitizedName := .sanitizedName -}}
    {{- $displayName := .displayName -}}

    {{- with .values }}
    var num{{ $sanitizedName }} = {{ len . -}};
    {{- else -}}
    var num{{ $sanitizedName }} = 0;
    {{- end }}

    function id{{ .sanitizedName }}(i) {
        return "{{ .sanitizedName }}[" + i + "]";
    }

    function add{{ .sanitizedName }}() {
        var row = document.createElement("tr");
        row.id = id{{ .sanitizedName }}(num{{ .sanitizedName }});

        var left = document.createElement("td");
        var right = document.createElement("td");
        row.appendChild(left);
        row.appendChild(right);

        left.innerHTML = "{{ marshalSliceValue .displayName 1 .value | printf "%s" }}";
        right.innerHTML = "<button type='button' onclick='remove{{ .sanitizedName }}(id{{ .sanitizedName }}" + num{{ .sanitizedName }} + "))' >x</button>";

        document.getElementById("{{ .sanitizedName }}-tbody").appendChild(row);
        num{{ .sanitizedName }} += 1;
    }

    function remove{{ .sanitizedName }}(i) {
        var remID = id{{ .sanitizedName }}(i);
        var rows = [];
        for (var i = 0; i < num{{ .sanitizedName }}; i++) {
            var id = id{{ .sanitizedName }}(i);
            if (id === remID) {
                document.getElementById(id).remove();
            } else {
                rows.push(document.getElementById(id));
            }
        }

        for (var i = 0; i < rows.length; i++) {
            rows[i].setAttribute("id", id{{ .sanitizedName }}(i));
            rows[i].children[1].children[0].setAttribute("onclick", "remove{{ .sanitizedName }}(" + i + ")");
        }

        num{{ .sanitizedName }} -= 1;
    }
</script>
{{ end }}
